@model projectMVC.viewModel.FoodViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container d-flex align-items-center justify-content-center   " style="margin-top : 118px">

    <div class="col-md-6 col-sm-12 col-12">
        <h2 class="text-center text-success text-capitalize py-4 ">  add new Food   </h2>

        @using (Html.BeginForm())
        {
            <div class="form-group d-flex row">

                @Html.TextBoxFor(a => a.Name, new { @class = " form-control col-12", @placeholder = " Food Name " })
                @Html.ValidationMessageFor(a => a.Name)
            </div>
            <div class="form-group d-flex row">

                @Html.TextBoxFor(a => a.Buy, new { @class = "form-control col-12", @placeholder = " Food Buy" })
                @Html.ValidationMessageFor(a => a.Buy)
            </div>

            <div class="form-group row">

                @Html.TextBoxFor(a => a.Sale, new { @class = "form-control col -12", @placeholder = "Food Sale " })
                @Html.ValidationMessageFor(a => a.Sale)
            </div>

            <div class="form-group row">

                @Html.TextBoxFor(a => a.Profit, new { @class = "form-control col -12", @placeholder = "Food Profit " })
                @Html.ValidationMessageFor(a => a.Profit)
            </div>

            <div class="form-group row">

                @Html.TextBoxFor(a => a.Amonut, new { @class = "form-control col -12", @placeholder = "Food Amount " })
                @Html.ValidationMessageFor(a => a.Amonut)
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success my-3 text-capitalize ">  Add </button>
            </div>

        }

    </div>

</div>



