@model projectMVC.viewModel.FoodViewModel
@{
    ViewBag.Title = "Delete";
}


<div class="container d-flex align-items-center justify-content-center   " style="margin-top : 118px">
    <div class="col-md-6 col-sm-12 col-12">


        <h2 class="text-danger text-center text-capitalize">Are you want to deletet Food  @Model.Name</h2>

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(e => e.Id)


            <h2>   @Model.Name</h2>
            <h2>   @Model.Buy</h2>
            <h2>   @Model.Sale</h2>
            <h2>   @Model.Profit</h2>
            <h2>   @Model.Amonut</h2>


            <button type="submit" class="btn btn-success my-3 text-capitalize "> delete </button>
            <a class="btn btn-danger" href="@Url.Action("Index","Food")"> Cancel </a>

        }
    </div>
</div>