@model projectMVC.viewModel.LoginAdmin
@{
    ViewBag.Title = "LoginAdmin";
}


<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <a class="navbar-brand text-uppercase  " href="#"> free <span class="text-info"> sms</span> </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link text-uppercase" href="@Url.Action("Index" , "HomePage")">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-uppercase" href="@Url.Action("LoginUser" , "HomePage")"> login user </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-uppercase" href="@Url.Action("Register" , "HomePage")">  Register  </a>
        </li>

    </ul>

</nav>


<div class="container d-flex align-items-center justify-content-center   " style="margin-top : 118px">

    <div class="col-md-6 col-sm-12 col-12">
        <h2 class="text-center text-success text-capitalize py-4 ">  login admin  </h2>

        @using (Html.BeginForm())
        {
            <div class="form-group d-flex row">

                @Html.TextBoxFor(a => a.AdminUserName, new { @class = " form-control col-12", @placeholder = "User Name " })
                @Html.ValidationMessageFor(a => a.AdminUserName)
            </div>
            <div class="form-group d-flex row">

                @Html.PasswordFor(a => a.AdminPassword, new { @class = "form-control col-12", @placeholder = "Password " })
                @Html.ValidationMessageFor(a => a.AdminPassword)
            </div>

            <div class="form-group row">

                @Html.TextBoxFor(a => a.Code, new { @class = "form-control col -12", @placeholder = "Code " })
                @Html.ValidationMessageFor(a => a.Code)
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success my-3 text-capitalize "> login </button>
            </div>

        }

    </div>

 </div>

